environment: {{ .Environment.Name }}

config:
  port: 3000
  logLevel: debug
  bucketUpload:
    enabled: true
    gcpProject: {{ requiredEnv "GCP_PROJECT_NAME" }}
    gcpBucketName: {{ requiredEnv "GCP_BUCKET_NAME" }}
  cronjob:
    enabled: true   

secret:
  gcpServiceAccountValue: |
    {{ requiredEnv "GOOGLE_APPLICATION_CREDENTIALS_CONTENT" }}  

resources:
  requests:
    cpu: "600m"
    memory: "1Gi"
  limits:
    cpu: "1800m"
    memory: "2.2Gi"   
